<style>
  .sponsor-title {
    text-align: center;
    font-size: 2rem;
    margin-top: 2rem;
  }

  .sponsor-subtitle {
    text-align: center;
    font-size: 1.25rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  .sponsor-grid {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    display: flex;
    gap: 1rem;
    justify-content: center;
    flex-wrap: wrap;
  }

  .sponsor-grid .aspect-box {
    background: white;
    padding: 0.5rem;
    border-radius: 1rem;
    box-shadow: 0.1rem 0.1rem 0.5rem rgb(0 0 0 / 0.05), 0.15rem 0.15rem 0.75rem rgb(0 0 0 / 0.1);
  }

  .sponsor-grid img {
    object-fit: contain;
    max-height: 2rem;
  }
</style>
<h3 class="sponsor-title">Our Sponsors and partners</h3>
<h4 class="sponsor-subtitle">Gold Sponsors</h4>
<div class="sponsor-grid">
  <a class="aspect-box" target="_blank" href="https://geolytix.com" title="GEOLYTIX">
    <img src="{{ site.baseurl }}/assets/images/geolytix.svg" />
  </a>
  <a class="aspect-box" target="_blank" href="https://www.addresscloud.com" title="Addresscloud">
    <img src="{{ site.baseurl }}/assets/images/address_cloud.png" />
  </a>
  <a class="aspect-box" target="_blank" href="https://www.idoxgroup.com/solutions/gis-and-geospatial/"
    title="IDOX Geospatial">
    <img src="{{ site.baseurl }}/assets/images/idox.png" />
  </a>
  <a class="aspect-box" target="_blank" href="https://www.cgi.com/" title="CGI">
    <img src="{{ site.baseurl }}/assets/images/CGI.svg" />
  </a>
  <a class="aspect-box" target="_blank" href="https://www.esriuk.com/en-gb/home" title="ESRI UK">
    <img src="{{ site.baseurl }}/assets/images/esri_uk.png" />
  </a>  
</div>
<h4 class="sponsor-subtitle">Silver Sponsors</h4>
<div class="sponsor-grid">
  <a class="aspect-box" target="_blank" href="https://www.geoxphere.com/" title="GEOXPHERE">
    <img src="{{ site.baseurl }}/assets/images/geoxphere.png" />
  </a>
  <a class="aspect-box" target="_blank" href="https://www.astuntechnology.com/" title="Astun Technology">
    <img src="{{ site.baseurl }}/assets/images/astun.png" />
  </a>
  <a class="aspect-box" target="_blank" href="https://overturemaps.org/" title="Overture Maps Foundation">
    <img src="{{ site.baseurl }}/assets/images/omf.png" />
  </a>
</div>
<h4 class="sponsor-subtitle">Bronze Sponsors</h4>
<div class="sponsor-grid">
  <a class="aspect-box" target="_blank" href="https://sparkgeo.com/" title="Sparkgeo">
    <img src="{{ site.baseurl }}/assets/images/sparkgeo.png" />
  </a>
  <a class="aspect-box" target="_blank" href="https://merginmaps.com/" title="Mergin Maps">
    <img src="{{ site.baseurl }}/assets/images/mergin_maps.svg" />
  </a>
  <a class="aspect-box" target="_blank" href="https://www.mapbox.com/" title="Mapbox">
    <img src="{{ site.baseurl }}/assets/images/mapbox.png" />
  </a>     
</div>
<h4 class="sponsor-subtitle">Community Sponsors</h4>
<div class="sponsor-grid">
  <a class="aspect-box" target="_blank" href="https://womeningeospatial.org" title="Women + in Geospatial">
    <img src="{{ site.baseurl }}/assets/images/women_geospatial.png" />
  </a>
  <a class="aspect-box" target="_blank" href="https://www.agi.org.uk"
    title="The Association for Geographic Information">
    <img src="{{ site.baseurl }}/assets/images/association-graphical-information.jpg" />
  </a>
  <a class="aspect-box" target="_blank" href="https://mapaction.org" title="MapAction">
    <img src="{{ site.baseurl }}/assets/images/mapaction.png" />
  </a>
</div>
</main>
<footer class="container"></footer>

{%- include partials/modal_link.html -%}

{%- if site.conference.live.streaming.enable -%}
{%- include partials/modal_live.html -%}
{%- endif -%}

<!-- Append build time to avoid caching of live program embedded in JavaScript file -->
<script src="{{ site.baseurl }}/assets/js/main.js?t={{ site.time | date: " %s" }}"></script>

</body>

</html>
