<style>

  .sponsor-grid {
    margin-top: 2rem;
    display: flex;
    gap: 1rem;
    justify-content: center;
    flex-wrap: wrap;
  }

  .sponsor-grid .aspect-box {
    background: white;
    padding: 0.5rem;
    border-radius: 1rem;
    box-shadow: 0.1rem 0.1rem 0.5rem rgb(0 0 0 / 0.05), 0.15rem 0.15rem 0.75rem rgb(0 0 0 / 0.1);
  }

  .sponsor-grid img {
    object-fit: contain;
    max-height: 2rem;
  }

</style>
<h3>Our Sponsors and partners</h3>
<div class="sponsor-grid">
  <a class="aspect-box" target="_blank" href="https://geolytix.com" title="GEOLYTIX">
    <img src="{{ site.baseurl }}/assets/images/geolytix.svg" />
  </a>
  <a class="aspect-box" target="_blank" href="https://www.addresscloud.com" title="Addresscloud">
    <img src="{{ site.baseurl }}/assets/images/address_cloud.png" />
  </a>
  <a class="aspect-box" target="_blank" href="https://womeningeospatial.org" title="Women + in Geospatial">
    <img src="{{ site.baseurl }}/assets/images/women_geospatial.png" />
  </a>
  <a class="aspect-box" target="_blank" href="https://www.agi.org.uk" title="The Association for Geographic Information">
    <img src="{{ site.baseurl }}/assets/images/association-graphical-information.jpg" />
  </a>
  <a class="aspect-box" target="_blank" href="https://mapaction.org" title="MapAction">
    <img src="{{ site.baseurl }}/assets/images/mapaction.png" />
  </a>
  <a class="aspect-box" target="_blank" href="https://www.leeds.ac.uk/" title="University of Leeds">
    <img src="{{ site.baseurl }}/assets/images/leeds-university.png" />
  </a>  
</div>
</main>
  <footer class="container"></footer>

  {%- include partials/modal_link.html -%}

  {%- if site.conference.live.streaming.enable -%}
    {%- include partials/modal_live.html -%}
  {%- endif -%}

  <!-- Append build time to avoid caching of live program embedded in JavaScript file -->
  <script src="{{ site.baseurl }}/assets/js/main.js?t={{ site.time | date: "%s" }}"></script>

</body>
</html> 