{% include partials/header.html %}

{{ content }}

<iframe height="300" style="width: 100%;" scrolling="no" title="FOSS4G:UK LEEDS 2025" src="https://codepen.io/dbauszus-glx/embed/OPPoPVK?default-tab=result&theme-id=54068" frameborder="no" loading="lazy" allowtransparency="true" allowfullscreen="true">
    See the Pen <a href="https://codepen.io/dbauszus-glx/pen/OPPoPVK">
    FOSS4G:UK LEEDS 2025</a> by dbauzus-glx (<a href="https://codepen.io/dbauszus-glx">@dbauszus-glx</a>)
    on <a href="https://codepen.io">CodePen</a>.
</iframe>

{% include partials/footer.html %}